.bold{font-weight: bolder !important;}

.bottom2px{ margin-bottom: 2px !important;}

.b-3px{padding-bottom: 10px !important;}

.card{min-width: 500px;}

textarea{ margin-left: 5px !important;}

.vertically-center{
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.redbg{background-color: red !important;}

.top0{top: 0 !important;}

.absolute{position: absolute;}

.longwidth{width: -webkit-fill-available !important;}

.center{text-align: center !important;}

.white{color: white !important;}

.h50px{height: 50px!important;}

.margin20px{margin: 20px !important;}
